<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cedar form editor</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">

  <!-- This div is needed when targeting ES5. It will add the adapter to browsers that support customElements, which require ES6 classes -->
  <div id="ce-es5-shim">
    <script type="text/javascript">
      if (!window.customElements) {
        const ceShimContainer = document.querySelector('#ce-es5-shim');
        ceShimContainer.parentElement.removeChild(ceShimContainer);
      }
    </script>
    <script type="text/javascript" src="static/cee/node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
  </div>

  <!-- load the webcomponents loader, which injects the necessary polyfill bundle -->
  <script type="text/javascript" src="static/cee/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

  <!-- load the component -->
  <script type="text/javascript" src="static/cee/cedar-embeddable-editor.js"></script>
  <link rel="stylesheet" type="text/css" href="static/cee/styles.css">
  <style>
    .mat-card {
        margin-top: 25px;
        border: 1px solid #00897b73;
    }
    .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: 0px 0px 0px 1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    }
    .mat-card-header {
        display: inherit;
    }
    .section-break-component {
        background-color: #00897b73;
    }
  </style>

  <script type="text/javascript">

    function loadConfig() {
      const cee = document.querySelector('cedar-embeddable-editor');
      cee.config = {
          "showSampleTemplateLinks": false,
          "terminologyIntegratedSearchUrl": 'https://terminology.metadatacenter.org/bioportal/integrated-search',
      }

      const templateObject = JSON.parse('{{ templateObject | safe }}');

      {% if formData %}
        const jsonMeta = JSON.parse('{{ formData | safe }}');
        cee.instanceObject = jsonMeta;
        const templateAndInstance = {templateObject: templateObject, instanceObject: jsonMeta};
        cee.templateAndInstanceObject = templateAndInstance;
      {% else %}
        cee.templateObject = templateObject
      {% endif %}
      
      

      {% if formInfo %}
        const formInfo = JSON.parse('{{ formInfo | safe }}');
        cee.templateInfo = formInfo;
      {% endif %}
    }

    document.addEventListener('WebComponentsReady', function () {
      loadConfig()
    });

    function saveForm() {
      const cee = document.querySelector('cedar-embeddable-editor');
      const meta = cee.currentMetadata;
      const info = cee.templateInfo;
      const xhr = new XMLHttpRequest();
      xhr.onerror = function(e){
        alert("An error occured while saving the form. Server response not received.");
      };
      payload = {
        'metadata': meta,
        'info': info
      }

      if (!cee.templateInfo) {
        xhr.open("POST", window.location.origin + "/api/cedar/store");
      } else {
        xhr.open("PUT", window.location.origin + "/api/cedar/store");
      }
      
      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("Content-Type", "application/json");
    
      xhr.onload = () => {
        if (xhr.status == 200) {
          window.location.href = window.location.origin
        } else {
          window.alert("An error occured while saving the form. Please try again later.")
        }
      };
      xhr.send(JSON.stringify(payload, null, 2));
    }
  </script>
</head>
<body>
  <cedar-embeddable-editor></cedar-embeddable-editor>
  <div>
    <input type="button" onclick="saveForm()" value="Save"/>
  </div>
</body>

</html>
