<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cedar form editor</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">

  <!-- This div is needed when targeting ES5. It will add the adapter to browsers that support customElements, which require ES6 classes -->
  <div id="ce-es5-shim">
    <script type="text/javascript">
      if (!window.customElements) {
        const ceShimContainer = document.querySelector('#ce-es5-shim');
        ceShimContainer.parentElement.removeChild(ceShimContainer);
      }
    </script>
    <script type="text/javascript" src="static/cee/node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
  </div>

  <!-- load the webcomponents loader, which injects the necessary polyfill bundle -->
  <script type="text/javascript" src="static/cee/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

  <!-- load the component -->
  <script type="text/javascript" src="static/cee/cedar-embeddable-editor.js"></script>
  <link rel="stylesheet" type="text/css" href="static/cee/styles.css">
  <style>
    .mat-card {
        margin-top: 25px;
    }
    .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: 0px 0px 0px 1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    }
    .mat-card-header {
        display: inherit;
    }
    .section-break-component {
        background-color: #00897b73;
    }
  </style>

  <script type="text/javascript">

    function loadMetadata() {
      const cee = document.querySelector('cedar-embeddable-editor');

      console.log("loading json metadata")
      if (cee.currentMetadata.hasOwnProperty("@context")) {

        {% if formData %}
          const jsonMeta = JSON.parse('{{ formData | safe }}');
          cee.metadata = jsonMeta;
        {% endif %}

      } else {
        setTimeout(loadMetadata, 10)
      }
    }

    function loadConfig() {
      const cee = document.querySelector('cedar-embeddable-editor');
      cee.config = {
                    "showTemplateUpload": false,
                    "templateUploadBaseUrl": "https://api-php.cee.metadatacenter.orgx",
                    "templateUploadEndpoint": "/upload.php",
                    "templateDownloadEndpoint": "/download.php",
                    "templateUploadParamName": "3520cf061bba4919a8ea4b74a07af01b",
                    "templateDownloadParamName": "9ff482bacac84c499655ab58efdf590a",
                  
                    "showDataSaver": true,
                    "dataSaverEndpointUrl": window.location.origin + "/api/cedar/store",
                  
                    "showSampleTemplateLinks": false,
                    "expandedSampleTemplateLinks": false,
                    "sampleTemplateLocationPrefix": window.location.origin + "/api",
                    "loadSampleTemplateName": "cedar",
                  
                    "showFooter": false,
                    "showHeader": false,
                  
                    "terminologyProxyUrl": "https://terminology.metadatacenter.org/bioportal/integrated-search",
                  
                    "showTemplateRenderingRepresentation": false,
                    "showMultiInstanceInfo": false,
                    "showTemplateSourceData": false,
                    "showInstanceDataCore": false,
                    "showInstanceDataFull": true,
                  
                    "expandedInstanceDataCore": false,
                    "expandedInstanceDataFull": false,
                    "expandedTemplateSourceData": false,
                    "expandedTemplateRenderingRepresentation": false,
                    "expandedMultiInstanceInfo": false
                  }
      {% if formInfo %}
        const formInfo = JSON.parse('{{ formInfo | safe }}');
        console.log(formInfo)
        cee.templateInfo = formInfo;
      {% endif %}
    }

    document.addEventListener('WebComponentsReady', function () {
      loadConfig()
      loadMetadata()
    });
  </script>
</head>
<body>
  <cedar-embeddable-editor></cedar-embeddable-editor>
</body>

</html>
