{% extends "layout.html" %}
{% block content %}
<h1>Instance details</h1>

<button type="button" class="btn btn-danger float-right mb-1" data-toggle="modal"
  data-target="#deleteModal">Delete</button>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <a href="./delete?uri={{ instance_uri }}">
          <button type="button" class="btn btn-danger">Yes, I'm sure</button>
        </a>
      </div>
    </div>
  </div>
</div>


<table class="datatable">
  <thead>
    <tr>
      <th scope="col">Property</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  var instance = {{ jsonData | tojson }};
  var table = document.querySelector('.datatable tbody');
  for (var key in instance) {
    // if key is an empty list or dictionary, ignore
    if (instance[key].length == 0 || Object.keys(instance[key]).length == 0) {
      continue;
    }

    //if value is a dictionary which contains '@value', but the value is undefined, ignore
    if (typeof instance[key] == 'object') {
      if ("@value" in instance[key]) {
        if (instance[key]['@value'] == undefined) {
          continue;
        }
      }
    }

    //ignore @context and @id
    if (key == '@context' || key == '@id') {
      continue;
    }

    var tr = document.createElement('tr');
    var td1 = document.createElement('td');
    var td2 = document.createElement('td');
    td1.textContent = key;

    //if key is a list, loop over items
    if (Array.isArray(instance[key])) {
      // inspect whether the @value objects in the list have an actual value, otherwise ignore
      if (instance[key].length > 0 && instance[key][0]["@value"] == undefined) {
        continue;
      }

      var ul = document.createElement('ul');
      for (var i = 0; i < instance[key].length; i++) {
        var li = document.createElement('li');
        li.textContent = instance[key][i]["@value"];
        ul.appendChild(li);
      }
      td2.appendChild(ul);
    } else {
      //determine whether the key contains a dict or a value
      if (typeof instance[key] == 'object') {
        td2.textContent = instance[key]["@value"];
      } else {
        td2.textContent = instance[key];
      }
    }
    tr.appendChild(td1);
    tr.appendChild(td2);
    table.appendChild(tr);
  }
</script>
{% endblock %}